<div class="container-fluid bg-dark">
  <div class="row gx-0">
    <div class="col-sm-12">
      <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-evenly">
        <div class="flex-lg-shrink-1">
          <a routerLink="/">
            <img alt="RMMH Logo" class="position-relative start-50 end-50 translate-middle-x" width="250px" height="250px" src="assets/logo-a-sm.png" />
          </a>
        </div>
      </div>
    </div>
    <!--<div class="col-sm-12 col-lg-4 pb-sm-2 pb-lg-0">
      <button class="btn btn-logo-color-light fst-italic fw-500 position-relative top-50 bottom-50 start-50 end-50 translate-middle" routerLink="/booking">Book Appointment</button>
    </div>-->
  </div>
</div>
