<div class="container-fluid mb-5">
    <div class="row justify-content-center py-5 bg-image" style="background-image: url('assets/sunflowers.jpg');">
    <div class="col-8 bg-dark-alpha-75 my-5 p-5">
      <h1 class="text-center text-light mb-4 pb-4  ff-cormorant fs-1 border-bottom border-logo-color-light border-2">Our Mission:</h1>
      <p class="fs-2-5 ff-cormorant fw-light text-light lh-lg">
        &emsp;We are committed to supporting you during the most challenging times. We aim to help people live more fulfilling, happy lives by providing expert, personalized psychiatric care.
      </p>
    </div>
  </div>
  <div class="row bg-dark text-center shadow py-5">
    <span class="ff-barlow fs-1 fst-italic text-white">Meet Our Provider</span>
  </div>
  <div class="row mt-5 py-5 align-items-center justify-content-around">
    <div class="col-md-4">
      <h2 class="ff-barlow fst-italic text-dark fs-2 mb-4">
        {{providerName}}
      </h2>
      <div class="border-top border-2 border-logo-color-light pt-3 pe-5 text-dark">
        <p *ngFor="let para of providerDesc">
          {{para}}
        </p>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <img src="{{providerImage}}" class="shadow-color-dark" width="85%" alt="Headshot of provider {{providerName}}"/>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div *ngFor="let schoolImage of schoolImages" class="m-4" style="width: 250px">
      <img src="{{schoolImage}}" width="100%"/>
    </div>
  </div>
  <div class="row justify-content-around bg-dark shadow-lg mb-5 bg-gradient">
    <div class="col-md-8 col-lg-6 text-center">
      <h3 class="text-logo-color-light ff-barlow fs-2 fw-light">Office Hours</h3>
      <div class="d-flex flex-row flex-wrap justify-content-evenly text-white">
        <span *ngFor="let day of officeHours | keyvalue: hoursSort" class="m-4">
         <span class="fw-bold">{{day.key}}:</span> <br /> {{day.value}}
        </span>
      </div>
    </div>
    <div class="col-2 my-auto">
      <a class="btn btn-lg btn-light text-dark" [href]="this.eLinks.getBooking()">Book Appointment</a>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-4">
      <h3 class="fs-2 ff-barlow fw-light text-dark text-center">Location:</h3>
    </div>
    <div class="col-md-6 d-flex flex-column">
      <div *ngFor="let location of locations" class="bg-light border border-1 border-dark rounded p-3 m-3">
        <p class="text-dark fs-3"><i class="bi bi-geo-alt-fill"></i> {{location.name}}</p>
        <ul class="list-unstyled ms-5 text-dark">
          <li>
            Address: {{location.address}}
          </li>
          <li>
            Hours:
            <ul>
              <li *ngFor="let day of (location.hours | hoursTransform) | keyvalue: hoursSort">
                {{day.key}}: {{day.value}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
