<div class="container-fluid mb-5">
  <div class="row justify-content-center mt-5 py-5">
    <div class="col-5">
      <h1 class="text-center text-dark mb-5 fst-italic ff-barlow fs-2">About Us</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Pharetra et ultrices neque ornare aenean euismod elementum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus in hac habitasse platea dictumst quisque sagittis purus sit. Consectetur a erat nam at lectus urna.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suspendisse potenti nullam ac tortor vitae purus faucibus. Massa tempor nec feugiat nisl pretium fusce id velit ut.
      </p>
    </div>
  </div>
  <div class="row bg-dark text-center shadow py-5">
    <span class="ff-barlow fs-1 fst-italic text-white">Meet Our Provider</span>
  </div>
  <div class="row mt-5 py-5 align-items-center justify-content-around">
    <div class="col-md-4">
      <h2 class="ff-barlow fst-italic text-dark fs-2 mb-4">
        {{providerName}}
      </h2>
      <div class="border-top border-2 border-logo-color-light pt-3 pe-5 text-dark">
        <p *ngFor="let para of providerDesc">
          {{para}}
        </p>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <img src="{{providerImage}}" class="shadow-color-dark" width="85%" alt="Headshot of provider {{providerName}}"/>
    </div>
  </div>
  <div class="row justify-content-around bg-dark shadow-lg mb-5 bg-gradient">
    <div class="col-md-8 col-lg-6 text-center">
      <h3 class="text-logo-color-light ff-barlow fs-2 fw-light">Office Hours</h3>
      <div class="d-flex flex-row flex-wrap justify-content-evenly text-white">
        <span *ngFor="let day of officeHours | keyvalue: hoursSort" class="m-4">
         <span class="fw-bold">{{day.key}}:</span> <br /> {{day.value}}
        </span>
      </div>
    </div>
    <div class="col-2 my-auto">
      <a class="btn btn-lg btn-light text-dark" [href]="this.eLinks.getBooking()">Book Appointment</a>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-4">
      <h3 class="fs-2 ff-barlow fw-light text-dark text-center">Location:</h3>
    </div>
    <div class="col-md-6 d-flex flex-column">
      <div *ngFor="let location of locations" class="bg-light border border-1 border-dark rounded p-3 m-3">
        <p class="text-dark fs-3"><i class="bi bi-geo-alt-fill"></i> {{location.name}}</p>
        <ul class="list-unstyled ms-5 text-dark">
          <li>
            Address: {{location.address}}
          </li>
          <li>
            Hours:
            <ul>
              <li *ngFor="let day of (location.hours | hoursTransform) | keyvalue: hoursSort">
                {{day.key}}: {{day.value}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
