@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Custom Variables
// * Colors
$dark: rgb(0, 17, 96);
$light: rgb(243, 243, 248);
$shadow-color: rgba(black, 0.50);
$dark_alpha_25: rgba(0, 9, 44, 0.25);
$dark_alpha_50: rgba(0, 9, 44, 0.5);
$dark_alpha_75: rgba(0, 9, 44, 0.75);
$light: rgba(243, 243, 248);
$light_alpha_25: rgba(243, 243, 248, 0.25);
$light_alpha_50: rgba(243, 243, 248, 0.50);
$light_alpha_75: rgba(243, 243, 248, 0.75);
$logo_color_light: rgb(188, 229, 73);
$logo_color_dark: rgb(171, 206, 69);
$logo_color_dark_alpha_50: rgb(29, 179, 66, 0.5);
$logo_color_dark_alpha_25: rgb(29, 179, 66, 0.25);
$logo_color_dark_secondary: rgb(55, 217, 78);
$logo_color_alpha_50: rgba(188, 229, 73, 0.5);
$logo_color_alpha_25: rgba(188, 229, 73, 0.25);


// * Font Sizes:
$fs1: 64px;
$fs2: 48px;
$fs3: 24px;
$fs3-5: 20px;
$fs4: 18px;
$fs5: 16px;
$fs6: 12px;

// * Font Families
$barlow-condensed: 'Barlow Condensed', sans-serif;
$cormorant-garamond: 'Cormorant Garamond', serif;

// * Font Sizes:
$font-sizes: (
  1: $fs1,
  2: $fs2,
  3: $fs3,
  4: $fs4,
  5: $fs5,
  6: $fs6
);

.fs-3-5 {
  font-size: $fs3-5;
}

@import "../node_modules/bootstrap/scss/bootstrap";
// Custom Classes
.ff-barlow {
  font-family: $barlow-condensed;
}

.ff-cormorant {
  font-family: $cormorant-garamond;
}

.fw_lightest {
  font-weight: 100;
}

.fw-500 {
  font-weight: 500;
}

.text-logo-color-light {
  color: $logo_color_light;
  &:hover{
    color: $logo_color_light;
  }
  &:link{
    color: $logo_color_light;
  }
  &:visited{
    color: $logo_color_light;
  }
  &:active{
    color: $logo_color_light;
  }
}

.text-logo-color-dark {
  color: $logo_color_dark;
  &:hover{
    color: $logo_color_dark;
  }
  &:link{
    color: $logo_color_dark;
  }
  &:visited{
    color: $logo_color_dark;
  }
  &:active{
    color: $logo_color_dark;
  }
}

.bg-dark-alpha-25{
  background-color: $dark_alpha_25;
}

.bg-dark-alpha-50{
  background-color: $dark_alpha_50;
}

.bg-light-alpha-25{
  background-color: $light_alpha_25;
}

.bg-light-alpha-50{
  background-color: $light_alpha_50;
}

.bg-light-alpha-75{
  background-color: $light_alpha_75;
}

.bg-logo-color-alpha-50{
  background-color: $logo_color_alpha_50;
}

.bg-logo-color-alpha-25{
   background-color: $logo_color_alpha_25;
}

.bg-logo-color-light{
  background-color: $logo_color_light;
}

.bg-logo-color-dark-alpha-50{
  background-color: $logo_color_dark_alpha_50;
}

.bg-logo-color-dark-alpha-25{
  background-color: $logo_color_dark_alpha_25;
}

.bg-logo-color-dark{
  background-color: $logo_color_dark;
}

.bg-logo-color-dark-secondary{
  background-color: $logo_color_dark_secondary;
}

.btn-logo-color-light {
  color: $dark;
  background-color: $logo_color_light;

  &:hover{
    color: $dark;
    background-color: $logo_color_dark;
  }
}

.btn-logo-color-dark {
  color: $logo_color_light;
  background-color: $logo_color_dark;

  &:hover{
    color: $dark;
    background-color: $logo_color_light;
  }
}

.btn-hover-bg-light {
  &:hover{
    background-color: $light;
  }
}

.border-dark-alpha-75 {
  --bs-border-color: rgba(0, 9, 44, 0.75) !important;
}

.border-logo-color-light {
  --bs-border-color: rgb(188, 229, 73) !important;
}

.border-logo-color-dark {
  --bs-border-color: rgb(64, 58, 55) !important;
}

.border-logo-color-alpha-50{
  --bs-border-color:  rgba(237, 209, 190, 0.5) !important;
}

.shadow-color-light {
  box-shadow: 15px 15px $logo_color_light;
}

.shadow-color-dark {
  box-shadow: 15px 15px $light;
}

.shadow-inset {
  box-shadow: $box-shadow-inset;
}

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rate-card {
  width: 300px;
  height: 400px;
  background: linear-gradient($dark, $dark_alpha_75);
  margin: 30px;
  box-shadow:  $shadow-color 0 1rem 3rem;
}

.rate-card h2 {
  font-family: $barlow-condensed;
  font-weight: 300;
  font-size: $fs2;
}

.rate-card h3 {
  font-weight: 300;
}

.height-vh {
  height: 100vh;
}

body {
  background-color: rgb(255, 255, 255);
}
