<div class="container-fluid gx-0 mb-5">
  <div class="row gx-0">
    <div class="col-sm-12 position-relative shadow-lg">
      <!--<video loop width=100% autoplay playsinline style="pointer-events: none;" src="assets/home_vid.mp4"></video>-->
      <div class="d-flex position-absolute flex-column-reverse justify-content-center bottom-50 top-50">
        <div class="d-block bg-logo-color-dark-alpha-50 text-white border-logo-color-alpha-50 border border-3 p-3 text-center bottom-0 mx-auto" style="width: 50%;">
          <h1>Welcome</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue arcu, egestas et quam in, dictum placerat massa. Maecenas eu est posuere, vulputate sapien vel, ullamcorper nunc. Integer eget nisl ipsum. Nunc ac consectetur felis. Nulla metus est, dignissim ac felis eget, sollicitudin egestas orci. Mauris et velit at turpis rhoncus facilisis eget quis est. Curabitur eget ante dolor.<br /> <br />
            Donec sed diam nisl. Mauris quis hendrerit turpis. Cras eget sollicitudin elit. Aenean aliquet nunc vel odio malesuada iaculis. Donec ornare ullamcorper mollis. Vestibulum nisi dui, finibus ut semper in, pulvinar nec turpis. Phasellus eu finibus metus, ut eleifend ex. Donec tincidunt, leo non pulvinar molestie, quam augue tempor eros, in congue felis metus quis ex.
          </p>
          <button class="btn btn-logo-color-light fst-italic fw-500" routerLink="/about">
            Learn more
          </button>
        </div>
      </div>
      <img width=100% src="assets/home_img.jpg" />
    </div>
  </div>
  <div class="row gx-5 align-items-center mt-5">
    <div class="col-sm-12 col-md-6 px-5">
      <h1 class="fst-italic mb-5 text-dark ff-barlow fs-2 text-center text-md-start">
        Get the help you need
      </h1>
      <p class="border-top border-2 border-logo-color-light pt-3 pe-5 text-dark">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue arcu, egestas et quam in, dictum placerat massa. Maecenas eu est posuere, vulputate sapien vel, ullamcorper nunc. Integer eget nisl ipsum. Nunc ac consectetur felis. Nulla metus est, dignissim ac felis eget, sollicitudin egestas orci. Mauris et velit at turpis rhoncus facilisis eget quis est. Curabitur eget ante dolor.<br /> <br />
      </p>
      <div class="text-center">
        <button class="btn btn-logo-color-dark fst-italic" routerLink="/specialty">
          Our Services
        </button>
      </div>
    </div>
    <div class="d-none d-md-inline col-md-6 mb-5">
      <img width="80%" src="assets/sad_leaves.jpg" class="shadow-color-light" />
    </div>
  </div>
  <div class="row gx-0">
    <div class="col-12 bg-logo-color-dark mt-5 py-5 shadow-lg">
      <h2 class="text-logo-color-light fs-2 ff-barlow fw-light text-center fst-italic">
        Looking forward to hearing from you!
      </h2>
    </div>
  </div>
  <div class="row gx-0">
    <app-contact></app-contact>
  </div>
</div>
