<div class="container-fluid gx-0">
  <div class="row gx-0">
    <div class="col-4 col-xl-3 me-auto">
      <img src="assets/teledoc.jpg" alt="Female doctor sitting at computer" width="100%"/>
    </div>
    <div class="col-8 d-flex flex-column align-items-center justify-content-center p-5 text-dark">
      <h1 class="text-center ff-barlow fw-light fs-2">Telehealth from Restful Mind Mental Health</h1>
      <h2 class="text-center fw-light fst-italic pb-4 mb-3 border-bottom border-1 border-logo-color-light">Psychiatric Services at your Convenience</h2>
      <p class="col-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultricies lacus sed turpis tincidunt id aliquet. Eget arcu dictum varius duis at consectetur lorem donec massa.</p>
      <p class="col-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque elit eget gravida cum sociis. Tellus elementum sagittis vitae et.</p>
    </div>
  </div>
</div>
<app-insurance></app-insurance>
<app-rates id="rates"></app-rates>
